<!DOCTYPE html>
<html lang="en">
<head>
    {{ JSGlue.include() }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Report Project</title>
    <!-- Latest compiled and minified CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   
    <div class="container">
        <div class="jumbotron" style="    height: 180px;
    background-color: transparent;
    margin-right: 84px;">
            
            <h1 style="direction: rtl; float:right; padding-bottom: 20px;">مر حبا بك الى موقع استخراج البيانات من موقع سوق</h1>
        
        </div>
    <p id="msg_download" style="text-align: center; direction: rtl; color:red;display: none;">يتم الان تجميع الداتا .. و تحميله فى ملف اكسيل .... انتظر قليلا</p>
<div class="alert alert-success"  id="message" role="alert" style="display:none; direction: rtl; text-align: right;">تم تجميع الداتا بنجاح ... و تم تحميل الملف على جهازك</div>

    <div class="container h-80">
        <div class="d-flex justify-content-center h-80"  >
           
            <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="اكتب اسم المنتج او البائع الذى تريد البحث عنه...">
                <a href="#" class="search_icon" ><i class="fas fa-search"></i></a>

               
            </div>
            <div class="clearfix"></div>
          
          
        </div>
    </div>
    <div class="clearfix"></div>
        <div id="circle" style="display: none;">
            <div class="loader">
                <div class="loader">
                    <div class="loader">
                        <div class="loader">

                        </div>
                    </div>
                </div>
            </div>
        </div>

      

    </div>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script>
    url_target = Flask.url_for('index');
    $('.search_icon').click(function(event) {

        
        event.preventDefault();
        word_search = $('.search_input').val()
        if(word_search == '') {
            alert('Must Fill Search Input')
        } else {
            show_loading();
            $.post(url_target, {word_search: word_search},function(data) {
                if(data == 'well done') {
                    hidden_loading();
                    $("#message").css('display', 'block');
                    setInterval(() => {
                        $("#message").css('display', 'none');
                    }, 5000);
                } else {
                    hidden_loading();
                    alert('Fail')
                }
            }).fail(function () {
                hidden_loading();
                alert("error");
            });
        }
        
    });

    function show_loading() {
        $('#circle').css('display', 'block');
        $('#msg_download').css('display', 'block');
        $('.search_icon').css('display', 'none')
    }

    function hidden_loading() {
        $('#circle').css('display', 'none');
        $('#msg_download').css('display', 'none');
        $('.search_icon').css('display', 'flex')
    }

  </script>
</body>
</html>